NEXT_PUBLIC_SITE_URL=https://template-7.minwysoft.com
NEXT_PUBLIC_DEMO_MODE=true
NEXT_PUBLIC_TEMPLATE_CTA_URL=/contact-us
NEXT_PUBLIC_PRICING_URL=/contact-us
LEAD_WEBHOOK_URL=
LEAD_WEBHOOK_TOKEN=

DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
NEXTJS_PORT=
NODE_ENV=
GOOGLE_SEARCH_CONSOLE_VERIFICATION=
BING_WEBMASTER_VERIFICATION=
JWT_SECRET=
CRON_SECRET=
BASE_URL=
CRON_SCHEDULE=